{% extends 'base.html.twig' %}
{% block body %}
<section class="dashboard">
		<section class="welcome-dashboard">
			<h1>Bienvenue,
				<span>{{ app.user.firstname }}</span>
				!</h1>

			<div class="user-menu">
				<div class="menu first-link">
					<a href="#my-appointments">
						<img src="{{asset('asset/media/icons/calendar.svg')}}" alt="Mes Rendez-vous">
						<p>Mes Rendez-vous</p>
					</a>
				</div>
				<div class="menu">
					<a href="#settings">
						<img src="{{asset('asset/media/icons/settings.svg')}}" alt="Paramètres">
						<p>Paramètres</p>
					</a>
				</div>
			</div>
		</section>

		<section id="my-appointments">
			
		</section>

        <section id="settings">
			
		</section>
		
</section>
{% endblock %}
