{% extends 'base.html.twig' %}
{% block body %}
<section class="dashboard-controller">
    {% if app.user %}
        <h1>Bienvenue, {{ app.user.firstname }} !</h1>
    {% else %}
        <h1>Bienvenue sur le tableau de bord !</h1>
    {% endif %}
</section>

<section class="dashboard-appointments">
    {# Contenu des rendez-vous #}
</section>

<section class="dashboard-settings">
    {# Contenu des paramètres #}
</section>
{% endblock %}
