{% extends 'base.html.twig' %}
{% block body %}
	{% set user = app.getUser() %}

	{% if user is not null %}
		<p>Bienvenue,
			{{ user.firstname }}
			!</p>
	{% else %}
		<p>Vous n'êtes pas connecté.</p>
	{% endif %}
	<h1>Catégories</h1>
	<ul>
		{% for category in categories %}
			<li>
				<a href="{{ path('category_list_services', {'id': category.id}) }}">
					{{ category.name }}
				</a>
			</li>
		{% else %}
			<p>Aucune catégorie à afficher.</p>
		{% endfor %}
	</ul>
{% endblock %}
