{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
{% include './components/page-header.html.twig' with {'page_name': page_name, 'breadcrumbs': breadcrumbs} %}
<section class="category-cards">
	<div class="card-container">
			{% for category in categories %}	
				<div class="category-card">
					<figure class="category-thumbnail">
						<img src="{{ asset('asset/media/banners/' ~ category.thumbnail) }}" alt="" class="category-banner">
						<figcaption>
							<h3>{{ category.name }}</h3>
						</figcaption>
					</figure>

					<div class="card-desc">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt vitae maxime facilis quibusdam ea quia eaque repellendus perferendis totam corrupti, asperiores exercitationem! Veritatis nulla maiores unde perspiciatis, eaque ratione, enim fuga ipsum vel laboriosam similique?</p>

						<div class="animated-btn btn-two">
					<a href="{{ path('category_list_services', {'id': category.id}) }}">
						<span>Savoir plus</span>
						<img src="{{asset('asset/media/icons/deco/lotus.svg')}}" alt="">
					</a>
				</div>
					</div>

				</div>
			{% endfor %}
		</div>
</section>
	
{% endblock %}
