{% extends 'base.html.twig' %}

{% block title %}Hello OurPricesController!{% endblock %}

{% block body %}
{% include './components/page-header.html.twig' with {'page_name': page_name, 'breadcrumbs': breadcrumbs} %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/wamp/www/ims_beauty/src/Controller/OurPricesController.php'|file_link(0) }}">src/Controller/OurPricesController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/wamp/www/ims_beauty/templates/our_prices/index.html.twig'|file_link(0) }}">templates/our_prices/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
