<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Réinitialisation de mot de passe</title>
    <style>
        /* Importing Fonts */
        @font-face {
            font-family: 'Brown Sugar';
            src: url('/asset/fonts/BrownSugar/BrownSugar.ttf');
            font-display: swap;
        }
        @font-face {
            font-family: 'Alex Brush';
            src: url('/asset/fonts/AlexBrush-Regular.ttf');
            font-display: swap;
        }
        @font-face {
            font-family: 'Marcellus';
            src: url('/asset/fonts/Marcellus-Regular.ttf');
            font-display: swap;
        }
        @font-face {
            font-family: 'Poppins';
            src: url('/asset/fonts/Poppins/Poppins-Regular.ttf');
            font-display: swap;
        }
        /* Add other Poppins variations as needed */

        /* Color Variables */
        :root {
            --default-White: #F8F8F8;
            --default-Black: #1E1E1E;
            --primary-Alabaster: #F5EFE8;
            --secondary-WhiteChocolate: #EEE3D7;
            --accent-BrownShadow: #937962;
            --success-Green: #5E995D;
            --error-Red: #AB4545;
        }

        body {
            font-family: 'Poppins', sans-serif;
            line-height: 1.6;
            color: var(--default-Black);
            background-color: var(--default-White);
        }
        .container {
            width: 80%;
            margin: 0 auto;
            padding: 20px;
            background-color: var(--default-white);
            border-radius: 15px;
        }
        h1 {
            font-family: 'Alex Brush', cursive;
            color: var(--accent-BrownShadow);
        }
        .button {
            display: inline-block;
            padding: 10px 20px;
            margin-top: 20px;
            background-color: var(--accent-BrownShadow);
            color: var(--primary-Alabaster);
            text-decoration: none;
            border-radius: 5px;
            font-family: 'Marcellus', serif;
        }
        .button:hover {
            background-color: var(--secondary-WhiteChocolate);
            color: var(--accent-BrownShadow);
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Vous demandez à réinitialiser votre mot de passe !</h1>

        <p>
             Vous pouvez le faire en cliquant sur le lien ci-dessous :
        </p>

        <a href="{{ resetUrl|raw }}" class="button">Réinitialiser mon mot de passe</a>

        <p>
            Veuillez noter que ce lien expirera <strong>{{ expiresAtMessageKey }}</strong>.
        </p>

        <p>
            Si vous avez des questions, n'hésitez pas à contacter notre équipe de support.
        </p>

        <p>
            Cordialement,<br>
            L'équipe de IMS Beauty
        </p>
    </div>
</body>
</html>
