<div class="flash-messages-container">
{% for flashMessage in app.flashes('success') %}
    <div class="alert alert-success">
        <p>{{ flashMessage }}</p>
    </div>
{% endfor %}

{% for flashMessage in app.flashes('error') %}
    <div class="alert alert-danger">
        <p>{{ flashMessage }}</p>
    </div>
{% endfor %}
</div>