{# templates/password_reset/reset_password.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe
{% endblock %}

{% block body %}
	<h1>Réinitialisation de mot de passe</h1>

	{{ form_start(resetForm) }}
	{{ form_row(resetForm.password, {'label': 'Nouveau mot de passe'}) }}
	<button type="submit" class="btn btn-primary">Réinitialiser</button>
	{{ form_end(resetForm) }}
{% endblock %}
