/* * Logo Font - Brown Sugar */

@font-face {
    font-family: 'Brown Sugar';
    src: url(../fonts/BrownSugar/BrownSugar.ttf);
    font-display: swap;
}

/* * Title Fonts */

@font-face {
    font-family: 'Alex Brush';
    src: url(../fonts/AlexBrush-Regular.ttf);
    font-display: swap;
}

/* * Bonus Font */

@font-face {
    font-family: 'Marcellus';
    src: url(../fonts/Marcellus-Regular.ttf);
    font-display: swap;
}

/* * Text Content Font */

@font-face {
    font-family: 'Poppins-Black';
    src: url(../fonts/Poppins/Poppins-Black.ttf);
    font-display: swap;
}
@font-face {
    font-family: 'Poppins-BlackItalic';
    src: url(../fonts/Poppins/Poppins-BlackItalic.ttf);
    font-display: swap;
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url(../fonts/Poppins/Poppins-Bold.ttf);
    font-display: swap;
}
@font-face {
    font-family: 'Poppins-BoldItalic';
    src: url(../fonts/Poppins/Poppins-BoldItalic.ttf);
    font-display: swap;
}
@font-face {
    font-family: 'Poppins-BoldX';
    src: url(../fonts/Poppins/Poppins-ExtraBold.ttf);
    font-display: swap;
}
@font-face {
    font-family: 'Poppins-BoldXitalic';
    src: url(../fonts/Poppins/Poppins-ExtraBoldItalic.ttf);
    font-display: swap;
}
@font-face {
    font-family: 'Poppins-LightX';
    src: url(../fonts/Poppins/Poppins-ExtraLight.ttf);
    font-display: swap;
}
@font-face {
    font-family: 'Poppins-LightXItalic';
    src: url(../fonts/Poppins/Poppins-ExtraLightItalic.ttf);
    font-display: swap;
}
@font-face {
    font-family: 'Poppins-Italic';
    src: url(../fonts/Poppins/Poppins-Italic.ttf);
    font-display: swap;
}
@font-face {
    font-family: 'Poppins-Light';
    src: url(../fonts/Poppins/Poppins-Light.ttf);
    font-display: swap;
}
@font-face {
    font-family: 'Poppins-LightItalic';
    src: url(../fonts/Poppins/Poppins-LightItalic.ttf);
    font-display: swap;
}
@font-face {
    font-family: 'Poppins-Medium';
    src: url(../fonts/Poppins/Poppins-Medium.ttf);
    font-display: swap;
}
@font-face {
    font-family: 'Poppins-MediumItalic';
    src: url(../fonts/Poppins/Poppins-MediumItalic.ttf);
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
    font-display: swap;
}
@font-face {
    font-family: 'Poppins-SemiBold';
    src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
    font-display: swap;
}
@font-face {
    font-family: 'Poppins-SemiBoldItalic';
    src: url(../fonts/Poppins/Poppins-SemiBoldItalic.ttf);
    font-display: swap;
}
@font-face {
    font-family: 'Poppins-Thin';
    src: url(../fonts/Poppins/Poppins-Thin.ttf);
    font-display: swap;
}
@font-face {
    font-family: 'Poppins-ThinItalic';
    src: url(../fonts/Poppins/Poppins-ThinItalic.ttf);
    font-display: swap;
}