//? --------------------  SCSS RESETS  -------------------- //
@import "./_variables.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  scroll-behavior: smooth;
  line-height: 1.6rem;
  min-height: 100vh;
  background-color: $default-White;
}

img {
  display: inline-block;
  max-width: 100%;
}

a,
p,
q,
ul,
li,
label {
  text-decoration: none;
  list-style: none;
  font-family: $lighterText;
  font-size: 1rem;
}

h1,h2,h3,h4,h5,h6 {
  color: $light-Black;
  font-family: $titleFont;
  font-weight: normal;
  font-style: normal;
}

::selection {
  background: $Khaki; /* Background color of the selection */
  color: $primary-Alabaster; /* Color of the text during selection */
}

h1 {
    font-family: $logoFont;
    font-size: 2.6rem;
    line-height: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
    font-weight: 400;
}

h4{
    font-size: 1.5rem;
}

h5{
    font-size: 1.375rem;
}

h6{
    font-size: 1.25rem;
}

button {
  outline: transparent;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: $textFont;
  font-size: 1.1rem;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

input,textarea{
  padding: 10px 5px;
  background-color: $secondary-WhiteChocolate;
  color: $default-grey;
  outline: transparent;
  border: none;
  font-size: 0.75rem;
  font-family: $lighterText;
  border-radius: $radius-5;
}



/* Change checkbox color */
input[type="checkbox"] {
  accent-color: $Khaki; /* Your preferred color */
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(51%) sepia(24%) saturate(499%) hue-rotate(347deg) brightness(90%) contrast(79%);
}


