@import "./font";

//& -------------------- SCSS VARIABLES -------------------- //
//^ --------- COLORS --------- //

$default-White: #F8F8F8;
$default-Black: #1E1E1E;
$default-Darkgrey: #545454;
$default-grey: #9E9E9E;

$primary-Alabaster: #F5EFE8;
$secondary-WhiteChocolate: #EEE3D7;
$accent-BrownShadow: #937962;
$light-Black: #4D4D4D;
$Khaki: #BFAE9F;
$PaleSilver: #BFAE9F;
$Cinereous: #BFAE9F;

$button-Green: #5E995D;
$button-Red: #AB4545;

//* --------- FONT --------- //

$logoFont: 'Brown Sugar';

$titleFont: 'Alex Brush';
$bonusFont: 'Marcellus';

$textFont: 'Poppins';
$lighterText: 'Poppins-Light';
$bolderText: 'Poppins-Bold';
$semiBoldText: 'Poppins-SemiBold';
$mediumText: 'Poppins-Medium';

//~ --------- STYLES --------- //

$radius-180: 180px;
$radius-15: 15px;
$radius-5: 5px;