@charset "UTF-8";
/* * Logo Font - Brown Sugar */
@font-face {
  font-family: "Brown Sugar";
  src: url(../fonts/BrownSugar/BrownSugar.ttf);
}
/* * Title Fonts */
@font-face {
  font-family: "Alex Brush";
  src: url(../fonts/AlexBrush-Regular.ttf);
}
/* * Bonus Font */
@font-face {
  font-family: "Marcellus";
  src: url(../fonts/Marcellus-Regular.ttf);
}
/* * Text Content Font */
@font-face {
  font-family: "Poppins-Black";
  src: url(../fonts/Poppins/Poppins-Black.ttf);
}
@font-face {
  font-family: "Poppins-BlackItalic";
  src: url(../fonts/Poppins/Poppins-BlackItalic.ttf);
}
@font-face {
  font-family: "Poppins-Bold";
  src: url(../fonts/Poppins/Poppins-Bold.ttf);
}
@font-face {
  font-family: "Poppins-BoldItalic";
  src: url(../fonts/Poppins/Poppins-BoldItalic.ttf);
}
@font-face {
  font-family: "Poppins-BoldX";
  src: url(../fonts/Poppins/Poppins-ExtraBold.ttf);
}
@font-face {
  font-family: "Poppins-BoldXitalic";
  src: url(../fonts/Poppins/Poppins-ExtraBoldItalic.ttf);
}
@font-face {
  font-family: "Poppins-LightX";
  src: url(../fonts/Poppins/Poppins-ExtraLight.ttf);
}
@font-face {
  font-family: "Poppins-LightXItalic";
  src: url(../fonts/Poppins/Poppins-ExtraLightItalic.ttf);
}
@font-face {
  font-family: "Poppins-Italic";
  src: url(../fonts/Poppins/Poppins-Italic.ttf);
}
@font-face {
  font-family: "Poppins-Light";
  src: url(../fonts/Poppins/Poppins-Light.ttf);
}
@font-face {
  font-family: "Poppins-LightItalic";
  src: url(../fonts/Poppins/Poppins-LightItalic.ttf);
}
@font-face {
  font-family: "Poppins-Medium";
  src: url(../fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Poppins-MediumItalic";
  src: url(../fonts/Poppins/Poppins-MediumItalic.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: "Poppins-SemiBoldItalic";
  src: url(../fonts/Poppins/Poppins-SemiBoldItalic.ttf);
}
@font-face {
  font-family: "Poppins-Thin";
  src: url(../fonts/Poppins/Poppins-Thin.ttf);
}
@font-face {
  font-family: "Poppins-ThinItalic";
  src: url(../fonts/Poppins/Poppins-ThinItalic.ttf);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  scroll-behavior: smooth;
  line-height: 1.6rem;
  min-height: 100vh;
  transition: all 0.3s;
  background-color: #F8F8F8;
}

img {
  display: inline-block;
  max-width: 100%;
}

a,
p,
q,
ul,
li,
label {
  text-decoration: none;
  list-style: none;
  font-family: "Poppins-Light";
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #4D4D4D;
  font-family: "Alex Brush";
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: "Brown Sugar";
  font-size: 2.6rem;
  line-height: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
  font-weight: 400;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.375rem;
}

h6 {
  font-size: 1.25rem;
}

button {
  outline: transparent;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: "Poppins";
  font-size: 1.1rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

input, textarea {
  padding: 10px;
  background-color: #EEE3D7;
  color: #9E9E9E;
  outline: transparent;
  border: none;
  font-size: 0.75rem;
  font-family: "Poppins-Light";
  border-radius: 5px;
}

.alt-animated-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 5px;
  cursor: pointer;
  transition: all 0.3s;
}
.alt-animated-btn:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #978178;
  z-index: 1;
}
.alt-animated-btn:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #978178;
  transform: rotate(50deg);
  z-index: 0;
}
.alt-animated-btn > a > img {
  width: 35px;
  height: 35px;
}

.alt-animated-btn:hover::after {
  animation: rotatecw 2s linear infinite;
}

.alt-animated-btn:hover::before {
  animation: rotateccw 3s linear infinite;
}

.animated-btn {
  position: relative;
  color: #978178;
  width: 150px;
  height: 40px;
  padding: 10px;
  transition: all 0.3s;
}
.animated-btn span,
.animated-btn img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
  z-index: 2;
}
.animated-btn span {
  color: #978178;
  font-family: "Marcellus";
  font-size: 1rem;
  opacity: 1;
}
.animated-btn img {
  opacity: 0;
  width: 35px;
  height: 35px;
}
.animated-btn:hover span {
  opacity: 0;
}
.animated-btn:hover img {
  opacity: 1;
}
.animated-btn::before, .animated-btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  border-radius: 1px;
  border: 1px solid #978178;
}

.btn-two:hover::after {
  animation-name: rotatecw;
  animation-duration: 2s;
}

.btn-two:hover::before {
  animation-name: rotateccw;
  animation-duration: 3s;
}

.btn-two:hover::after,
.btn-two:hover::before {
  left: 50px;
  width: 65px;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotatecw {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotateccw {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
.icons:hover {
  cursor: pointer;
  transform: scale(1.1);
}

header {
  z-index: 999;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #4D4D4D;
  color: #F8F8F8;
}
header > .nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  padding: 0 25px;
}
header > .nav-menu > nav > ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
}
header > .nav-menu > nav > ul > li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 0 10px;
  cursor: pointer;
}
header > .nav-menu > nav > ul > li::before {
  content: "";
  display: block;
  opacity: 0;
  width: 16px;
  height: 16px;
  margin: 0 5px;
  background-image: url("../media/icons/deco/laurel.svg");
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 0.3s;
}
header > .nav-menu > nav > ul > li:hover {
  background-color: #BFAE9F;
}
header > .nav-menu > nav > ul > li:hover::before {
  opacity: 1;
}
header > .nav-menu > nav > ul > li > a {
  color: #F8F8F8;
  font-family: "Marcellus";
  line-height: 100px;
}
header > .nav-menu > nav > ul > li > a:hover {
  color: #4D4D4D;
}
@media screen and (max-width: 800px) {
  header > .nav-menu > nav > ul {
    display: none;
    justify-content: center;
  }
}
header > .nav-menu > figure {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  width: 100px;
  gap: 10px;
  padding: 0 10px;
}
header > .nav-menu > figure > a > img {
  height: 35px;
}
header > a > img {
  padding-left: 25px;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: auto;
  background-color: #4D4D4D;
  color: #F8F8F8;
}
footer > div.salon-infos {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
}
footer > div.salon-infos > .map-infos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 80%;
}
footer > div.salon-infos > .map-infos > div.categories-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 15px;
}
footer > div.salon-infos > .map-infos > div.categories-links > .title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid #BFAE9F;
}
footer > div.salon-infos > .map-infos > div.categories-links > .title > img {
  width: 50px;
}
footer > div.salon-infos > .map-infos > div.categories-links > .title > h3 {
  font-family: "Marcellus";
  color: #F8F8F8;
  font-size: 1.3rem;
}
footer > div.salon-infos > .map-infos > div.categories-links > li {
  list-style: disc;
}
footer > div.salon-infos > .map-infos > div.categories-links > li > a {
  color: #F8F8F8;
  font-family: "Poppins-LightX";
  font-size: 0.875rem;
}
footer > div.salon-infos > .map-infos > div.categories-links > li > a:hover {
  color: #BFAE9F;
}
footer > div.salon-infos > .map-infos > div.schedule {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px;
}
footer > div.salon-infos > .map-infos > div.schedule > .title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid #BFAE9F;
}
footer > div.salon-infos > .map-infos > div.schedule > .title > img {
  width: 50px;
}
footer > div.salon-infos > .map-infos > div.schedule > .title > h3 {
  font-family: "Marcellus";
  color: #F8F8F8;
  font-size: 1.3rem;
}
footer > div.salon-infos > .map-infos > div.schedule > div > .schedule-days {
  font-family: "Marcellus";
  font-size: 0.875rem;
}
footer > div.salon-infos > .map-infos > div.schedule > div > .schedule-hours {
  font-family: "Marcellus";
  font-size: 0.875rem;
  color: #EEE3D7;
}
footer > div.salon-infos > div.contact-socials {
  display: flex;
  width: 275px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
footer > div.salon-infos > div.contact-socials > figure > .footer-logo {
  width: 100px;
}
footer > div.salon-infos > div.contact-socials > figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
footer > div.salon-infos > div.contact-socials > figcaption > .catchphrase {
  font-family: "Marcellus";
  font-size: 0.625rem;
}
footer > div.salon-infos > div.contact-socials > figcaption > .footer-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
footer > div.salon-infos > div.contact-socials > figcaption > .footer-contact > figcaption > p {
  font-family: "Poppins-Light";
  font-size: 0.75rem;
}
footer > .copyrights > p {
  font-size: 0.5rem;
  text-align: center;
  line-height: normal;
}

.page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
  background: url("../media/deco/massagewoman.svg") bottom left/contain no-repeat, url("../media/deco/flower-bg-flipped.svg") top right/auto no-repeat;
  background-color: #4D4D4D;
}
.page-header > h1 {
  color: #C9BEB9;
}
.page-header > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.page-header > ul > li {
  color: #C9BEB9;
}
.page-header > ul > li > a {
  color: #BFAE9F;
}
.page-header > ul > li > a:hover {
  color: #978178;
}
.page-header > ul > li > a.last-link {
  color: #C9BEB9;
  pointer-events: none;
  /* Disable link functionality for the last link */
}
@media (max-width: 768px) {
  .page-header {
    /* Adjust the background size and position for smaller screens */
    background-size: 150px;
  }
}

.homepage-CTA {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background: url("../media/deco/textured-bg.webp") center center/cover no-repeat;
}
.homepage-CTA .CTA-banner {
  position: relative;
  overflow: hidden;
  max-width: 615px;
  width: 100%;
  padding: 10px;
  padding-bottom: 0;
  border-radius: 360px 360px 0 0;
  background-color: #937962;
}
.homepage-CTA .CTA-banner > img {
  width: 100%;
  height: 680px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  opacity: 75%;
  border-radius: 360px 360px 0 0;
}
.homepage-CTA .CTA-banner .banner-deco {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 40%;
}
.homepage-CTA .cta-ims {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 850px;
  width: 100%;
  padding: 25px;
  text-align: center;
}
.homepage-CTA .cta-ims .logo-cta > img {
  width: 200px;
}
.homepage-CTA .cta-ims .logo-cta > figcaption > p {
  font-size: 0.7rem;
  font-family: "Marcellus";
  color: #937962;
}
.homepage-CTA .cta-ims .adress-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 15px;
}
.homepage-CTA .cta-ims .adress-cta > img {
  filter: invert(50%) sepia(12%) saturate(884%) hue-rotate(346deg) brightness(94%) contrast(88%);
}
.homepage-CTA .cta-ims .adress-cta > figcaption > p {
  font-size: 0.8rem;
  font-family: "Marcellus";
  color: #937962;
}

.homepage-soins {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 25px;
  padding: 25px 0;
  width: 100%;
  background-color: #F5EFE8;
}
.homepage-soins > a {
  max-width: 250px;
  font-family: "Marcellus";
  color: #937962;
  padding: 15px 30px;
  border: 1px solid #937962;
}
.homepage-soins > a:hover {
  background-color: #937962;
  color: #F5EFE8;
}

.about-us-presentation {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  padding: 25px 0;
  border-bottom: 1px solid #978178;
}
.about-us-presentation > figure {
  position: relative;
  width: 500px;
  height: 500px;
  padding: 15px;
  border-radius: 100%;
  background-color: #937962;
}
.about-us-presentation > figure > img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.about-us-presentation > figure > figcaption {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: -moz-fit-content;
  width: fit-content;
  padding: 25px;
  border-radius: 180px;
  background-color: #937962;
}
.about-us-presentation > figure > figcaption > a > .icons {
  width: 65px;
}
.about-us-presentation .presentation {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  gap: 25px;
  max-width: 740px;
  width: 100%;
}
.about-us-presentation .presentation > blockquote {
  position: relative;
  font-family: "Alex Brush";
  font-size: 2.5rem;
  line-height: 2rem;
  color: #937962;
}
.about-us-presentation .presentation > blockquote:before, .about-us-presentation .presentation > blockquote:after {
  position: absolute;
  color: #978178;
  font-size: 8rem;
}
.about-us-presentation .presentation > blockquote:before {
  content: "“";
  left: -2rem;
  top: 0;
}
.about-us-presentation .presentation > blockquote:after {
  content: "”";
  right: -2rem;
  bottom: 0;
}
.about-us-presentation .presentation > .redirection-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-self: stretch;
  padding: 15px;
  border-radius: 25px;
  background: url("../media/deco/flower-bg-deco.svg") top left/contain no-repeat, url("../media/deco/flower-bg-flipped.svg") top right/contain no-repeat;
  background-color: #F5EFE8;
}

.contact-form {
  text-align: center;
  width: 100%;
  padding: 25px;
  background: url("../media/deco/textured-bg.webp") center center/cover no-repeat;
}
.contact-form > .contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 25px;
}
.contact-form > .contact-container > .contact-info {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  gap: 25px;
}
.contact-form > .contact-container > .contact-info > h2 {
  text-decoration: underline;
}
.contact-form > .contact-container > .contact-info > .info-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  text-align: left;
}
.contact-form > .contact-container > .contact-info > .info-container > figure {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 0 25px 25px 0;
  background-color: #EEE3D7;
}
.contact-form > .contact-container > .contact-info > .info-container > figure > img {
  background-color: #978178;
  padding: 10px;
  border-radius: 15px;
}
.contact-form > .contact-container > .contact-info > .info-container > figure > figcaption > p:first-child {
  color: #978178;
}
.contact-form > .contact-container > .contact-info > .info-container > figure:nth-child(2n) {
  background-color: #F5EFE8;
}
.contact-form > .contact-container > .form-container {
  max-width: 650px;
  width: 100%;
  padding: 25px;
  border-radius: 0 25px 25px 0;
  background-color: #BFAE9F;
}
.contact-form > .contact-container > .form-container > form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 15px;
}
.contact-form > .contact-container > .form-container > form > input,
.contact-form > .contact-container > .form-container > form textarea {
  border-radius: 5px;
  background-color: transparent;
  color: #F5EFE8;
  font-family: "Poppins-LightX";
  border-bottom: 1px solid #937962;
}
.contact-form > .contact-container > .form-container > form > input::-moz-placeholder, .contact-form > .contact-container > .form-container > form textarea::-moz-placeholder {
  color: #F8F8F8;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  font-size: 1rem;
}
.contact-form > .contact-container > .form-container > form > input::placeholder,
.contact-form > .contact-container > .form-container > form textarea::placeholder {
  color: #F8F8F8;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  font-size: 1rem;
}
.contact-form > .contact-container > .form-container > form > button {
  border: 1px solid #937962;
  padding: 15px;
  border-radius: 15px;
  color: #937962;
}
.contact-form > .contact-container > .form-container > form > button:hover {
  background-color: #937962;
  border-color: #EEE3D7;
  color: #EEE3D7;
}

.map-location {
  width: 100%;
}
.map-location > #map-aboutus {
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

.category-cards {
  width: 95%;
  padding: 25px 0;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.category-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  max-width: 300px;
  min-height: 500px;
  border-radius: 5px;
  border: 1px solid #978178;
  background-color: #F8F8F8;
}
.category-card .category-thumbnail {
  background: url("../media/deco/flower-bg-deco.svg") top/contain no-repeat;
  padding: 20px;
  width: 258px;
}
.category-card .category-thumbnail > img {
  width: 160px;
  height: 160px;
  border-radius: 100%;
  background-color: #937962;
  padding: 5px;
}
.category-card .category-thumbnail > figcaption > h3 {
  color: #978178;
  text-decoration: underline;
}
.category-card .card-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 15px;
}
.category-card .card-desc > p {
  color: #4D4D4D;
}
.category-card:hover {
  transform: scale(1.01);
}

.category-row {
  display: flex;
  width: 100%;
  height: 100%;
}
.category-row > .category-details-aside {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 100%;
  max-width: 350px;
  padding: 25px;
  background-color: #F5EFE8;
}
.category-row > .category-details-aside > .services-liste-container {
  display: flex;
  padding: 25px 15px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-self: stretch;
  border-radius: 5px;
}
.category-row > .category-details-aside > .services-liste-container > .category-title {
  width: 100%;
  padding: 15px 0;
  border-radius: 5px 5px 0 0;
  background-color: #937962;
  border-bottom: 1px solid #BFAE9F;
}
.category-row > .category-details-aside > .services-liste-container > .category-title > h1 {
  color: #F5EFE8;
}
.category-row > .category-details-aside > .services-liste-container > .category-services {
  overflow-y: scroll;
  width: 100%;
  max-height: 300px;
  border-radius: 0 0 5px 5px;
  border: 1px solid #BFAE9F;
  border-top: none;
  scrollbar-color: #EEE3D7 #978178;
  scrollbar-width: thin;
}
.category-row > .category-details-aside > .services-liste-container > .category-services > ul > li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 25px 0;
  color: #937962;
  border-bottom: 1px solid #BFAE9F;
}
.category-row > .category-details-aside > .services-liste-container > .category-services > ul > li::before {
  content: "";
  display: inline-block;
  opacity: 0;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  background-image: url("../media/icons/deco/leaf-solid.svg");
  background-size: cover;
  background-repeat: no-repeat;
  transition: opacity 0.3s;
}
.category-row > .category-details-aside > .services-liste-container > .category-services > ul > li:hover, .category-row > .category-details-aside > .services-liste-container > .category-services > ul > li.active {
  background-color: #978178;
  border-bottom: 1px solid #EEE3D7;
  color: #EEE3D7;
}
.category-row > .category-details-aside > .services-liste-container > .category-services > ul > li:hover::before, .category-row > .category-details-aside > .services-liste-container > .category-services > ul > li.active::before {
  opacity: 1;
}
.category-row > .category-details-aside > .services-liste-container > .category-services::-webkit-scrollbar {
  width: 12px;
}
.category-row > .category-details-aside > .services-liste-container > .category-services::-webkit-scrollbar-track {
  background: #978178;
  border-radius: 5px;
}
.category-row > .category-details-aside > .services-liste-container > .category-services::-webkit-scrollbar-thumb {
  background: #EEE3D7;
  border-radius: 5px;
}
.category-row > .category-details-aside > .services-liste-container > .category-services::-webkit-scrollbar-thumb:hover {
  background: #dfcab3;
}
.category-row > .service-details {
  overflow-y: scroll;
  scrollbar-color: #EEE3D7 #978178;
  scrollbar-width: thin;
  width: 100%;
  height: 100%;
  max-height: 685px;
  padding: 25px;
}
.category-row > .service-details::-webkit-scrollbar {
  width: 12px;
}
.category-row > .service-details::-webkit-scrollbar-track {
  background: #978178;
  border-radius: 5px;
}
.category-row > .service-details::-webkit-scrollbar-thumb {
  background: #EEE3D7;
  border-radius: 5px;
}
.category-row > .service-details::-webkit-scrollbar-thumb:hover {
  background: #dfcab3;
}
.category-row > .service-details > .service-detail-content > .service-thumbnail > img {
  height: 350px;
  width: 100%;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
.category-row > .service-details > .service-detail-content > .service-info {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
  min-height: 200px;
}
.category-row > .service-details > .service-detail-content > .service-info > .service-name-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
  background-color: #978178;
  color: #F5EFE8;
}
.category-row > .service-details > .service-detail-content > .service-info > .service-name-price > h2 {
  color: #F5EFE8;
  font-weight: 400;
  font-size: 2.1rem;
}
.category-row > .service-details > .service-detail-content > .service-info > .service-name-price > p {
  font-weight: 600;
  font-size: 2.1rem;
}
.category-row > .service-details > .service-detail-content > .service-info p {
  font-size: 1.125rem;
}
.category-row > .service-details > .service-detail-content > .service-info > .btn {
  position: absolute;
  bottom: 0;
}

.tarifs {
  width: 100%;
}
.tarifs .tarif-category {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 25px;
}
.tarifs .tarif-category:nth-child(odd) {
  background-color: #F5EFE8;
}
.tarifs .tarif-category:nth-child(even) {
  background-color: #EEE3D7;
}
.tarifs .tarif-category .category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  border-bottom: 1px dashed #C9BEB9;
  cursor: pointer;
}
.tarifs .tarif-category .category-header .category-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.tarifs .tarif-category .category-header .category-title > img {
  filter: invert(80%) sepia(6%) saturate(372%) hue-rotate(334deg) brightness(96%) contrast(91%);
}
.tarifs .tarif-category .services-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}
.tarifs .tarif-category .service-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  padding: 10px;
  width: 500px;
  min-height: 100px;
  border: 1px solid #BFAE9F;
  border-radius: 5px;
  background: url("../media/deco/flower-bg-flipped.svg") top right/contain no-repeat, url("../media/deco/textured-bg.webp") center center/cover no-repeat;
}
.tarifs .tarif-category .service-card .service-details {
  max-width: 150px;
  color: #978178;
}
.tarifs .tarif-category .service-card .service-details > h4 {
  color: #937962;
}
.tarifs .tarif-category .service-card .service-details > p {
  font-size: 0.75rem;
  line-height: normal;
}
.tarifs .tarif-category .service-card > span {
  font-family: "Poppins-Bold";
}
@media screen and (max-width: 580px) {
  .tarifs .tarif-category .service-card .icon-desktop {
    display: none;
  }
}

.form-login {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.form-login > h1 {
  color: #978178;
}
.form-login > .form-connexion {
  display: flex;
  flex-direction: column;
  width: 650px;
  width: 100%;
  padding: 50px;
  gap: 10px;
  border: 1px solid #978178;
  border-radius: 5px;
}
.form-login > .form-connexion > .remember-check {
  display: flex;
  gap: 5px;
  align-items: center;
}
.form-login > .form-connexion > .remember-check > label {
  font-size: 0.75rem;
  font-family: "Poppins-Light";
}
.form-login > .form-connexion > .error-login {
  color: #AB4545;
}
.form-login > .form-connexion > .button-links {
  display: flex;
  gap: 10px;
}
.form-login > .form-connexion > .button-links button {
  background-color: #BFAE9F;
  color: #F5EFE8;
  border-radius: 5px;
  padding: 15px 25px;
}
.form-login > .form-connexion > .button-links button:hover {
  background-color: #937962;
  color: #EEE3D7;
}
.form-login > .form-connexion > .button-links > .login-troubleshooting {
  display: flex;
  flex-direction: column;
}
.form-login > .form-connexion > .button-links > .login-troubleshooting > a {
  font-size: 0.75rem;
  color: #9E9E9E;
}
.form-login > .form-connexion > .button-links > .login-troubleshooting > a:hover {
  color: #937962;
}

.register {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: 50%;
}
.register > h1 {
  color: #978178;
}
.register > .form-registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 650px;
  width: 100%;
  padding: 50px;
  gap: 50px;
  border: 1px solid #978178;
  border-radius: 5px;
}
.register > .form-registration .name-register,
.register > .form-registration .user-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-right: 10px;
}
.register > .form-registration input {
  width: 100%;
}
.register > .form-registration div {
  margin: 10px 0;
}
.register > .form-registration button {
  background-color: #BFAE9F;
  color: #F5EFE8;
  border-radius: 5px;
  padding: 15px 25px;
}
.register > .form-registration button:hover {
  background-color: #937962;
  color: #EEE3D7;
}

.dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 80vh;
  background-color: #EEE3D7;
}
.dashboard .welcome-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  height: 170px;
}
.dashboard .welcome-dashboard > h1 {
  font-family: "Marcellus";
  color: #4D4D4D;
}
.dashboard .welcome-dashboard > h1 > span {
  color: #937962;
}
.dashboard .welcome-dashboard .user-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.dashboard .welcome-dashboard .user-menu .menu a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #F5EFE8;
  color: #4D4D4D;
  border-radius: 5rem;
  padding: 0.5rem;
  padding-right: 2rem;
}
.dashboard .welcome-dashboard .user-menu .menu a img {
  padding: 0.5rem;
  margin: 0 0.5rem 0 0;
  width: 24px;
  height: 24px;
  background-color: #F8F8F8;
  border-radius: 5rem;
}
.dashboard .welcome-dashboard .user-menu .menu a:hover {
  background: rgba(151, 129, 120, 0.8588235294);
  color: #F5EFE8;
  transition: all 0.5s ease-out;
}
.dashboard .welcome-dashboard .user-menu .active a {
  background-color: #937962;
  color: #F5EFE8;
  min-width: 160px;
  border-radius: 5rem;
}
.dashboard #my-appointments {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}
.dashboard .upcoming-app,
.dashboard .past-app {
  background-color: #F5EFE8;
  padding: 15px;
  margin: 25px;
  border-radius: 15px;
}
.dashboard .appointment {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 300px;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #BFAE9F;
}
.dashboard .appointment > figure {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
}
.dashboard .appointment > figure > img {
  background-color: #937962;
  padding: 5px;
  border-radius: 180px;
}
.dashboard .appointment > figure:nth-child(1) {
  background-color: #C9BEB9;
}
.dashboard .appointment > figure:nth-child(2) {
  background-color: #EEE3D7;
}
.dashboard .appointment > figure > figcaption > p > span {
  font-family: "Poppins";
}
.dashboard #settings {
  align-self: center;
}
.dashboard #settings > form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 800px;
  border-radius: 15px;
  padding: 50px;
  background-color: #F5EFE8;
}
.dashboard #settings > form > .user-names {
  display: flex;
  gap: 15px;
}
.dashboard #settings > form > figure, .dashboard #settings > form > .user-names > figure {
  display: flex;
  border-radius: 15px;
  border: 1px solid #937962;
  padding: 10px;
}
.dashboard #settings > form > figure > img, .dashboard #settings > form > .user-names > figure > img {
  filter: invert(51%) sepia(35%) saturate(320%) hue-rotate(346deg) brightness(88%) contrast(87%);
}
.dashboard #settings > form > figure > figcaption > input, .dashboard #settings > form > .user-names > figure > figcaption > input {
  background-color: transparent;
  color: #1E1E1E;
}
.dashboard #settings > form > .settings-buttons {
  align-self: center;
}
.dashboard #settings > form > .settings-buttons > button {
  padding: 15px;
  border-radius: 5px;
}
.dashboard #settings > form > .settings-buttons > button:hover {
  color: #F5EFE8;
}
.dashboard #settings > form > .settings-buttons .update-btn {
  border: 1px solid #5E995D;
  color: #5E995D;
}
.dashboard #settings > form > .settings-buttons .update-btn:hover {
  background-color: #5E995D;
}
.dashboard #settings > form > .settings-buttons .delete-btn {
  border: 1px solid #AB4545;
  color: #AB4545;
}
.dashboard #settings > form > .settings-buttons .delete-btn:hover {
  background-color: #AB4545;
}

.error404 {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  gap: 25px;
}
.error404 h1 {
  color: #937962;
  font-size: 15rem;
}
.error404 h1 > span {
  color: #C9BEB9;
}
.error404 h2 {
  font-family: "Poppins";
  font-size: 1.125rem;
}
.error404 p {
  font-size: 1rem;
}
.error404 button {
  background-color: #BFAE9F;
  color: #F5EFE8;
  border-radius: 5px;
  padding: 15px 25px;
}
.error404 button:hover {
  background-color: #937962;
  color: #EEE3D7;
}/*# sourceMappingURL=style.css.map */