@import "./reset";

//& -------------------- COMPONENTS -------------------- //
//~ ------------ ANIMATED BUTTON ------------ //

//ALT ANIMATION - ICON ONLY
.alt-animated-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 5px;
  cursor: pointer;
  transition: all 0.3s;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid $Cinereous;
    z-index: 1;
  }

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid $Cinereous;
    transform: rotate(50deg);
    z-index: 0;
  }

  &>a>img {
    width: 35px;
    height: 35px;
  }
}

.alt-animated-btn:hover::after {
  animation: rotatecw 2s linear infinite;
}

.alt-animated-btn:hover::before {
  animation: rotateccw 3s linear infinite;
}

//DEFAULT BTN ANIMATION - TEXT + ICON
.animated-btn {
  position: relative;
  color: $Cinereous;
  width: 150px;
  height: 40px;
  padding: 10px;
  transition: all 0.3s;

  span,
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
    z-index: 2;
  }

  span {
    color: $Cinereous;
    font-family: $bonusFont;
    font-size: 1rem;
    opacity: 1;
  }

  img {
    opacity: 0;
    width: 35px;
    height: 35px;
  }

  &:hover span {
    opacity: 0;
  }

  &:hover img {
    opacity: 1;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    border-radius: 1px;
    border: 1px solid $Cinereous;
  }
}

.btn-two:hover::after {
  animation-name: rotatecw;
  animation-duration: 2s;
}

.btn-two:hover::before {
  animation-name: rotateccw;
  animation-duration: 3s;
}

.btn-two:hover::after,
.btn-two:hover::before {
  left: 50px;
  width: 65px;

  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotatecw {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateccw {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

//~ ------------ ANIMATED ICONS ------------ //
.icons:hover {
  cursor: pointer;
  transform: scale(1.1);
}

//& -------------------- STYLING -------------------- //
//~ ------------HEADER & FOOTER------------ //
//? -------- HEADER -------- //
header {
  z-index: 999;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: $light-Black;
  color: $default-White;

  &>.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    padding: 0 25px;

    &>nav>ul {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 15px;

      &>li {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        padding: 0 10px;
        cursor: pointer;

        &::before {
          content: "";
          display: block;
          opacity: 0;
          width: 16px;
          height: 16px;
          margin: 0 5px;
          background-image: url("../media/icons/deco/laurel.svg");
          background-size: cover;
          background-repeat: no-repeat;
          transition: background-image 0.3s;
        }

        &:hover {
          background-color: $Khaki;

          &::before {
            opacity: 1;
          }
        }

        &>a {
          color: $default-White;
          font-family: $bonusFont;
          line-height: 100px;

          &:hover {
            color: $light-Black;
          }
        }
      }

      @media screen and (max-width: 850px) {
        display: none;
        justify-content: center;
      }
    }

    &>figure {
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: stretch;
      width: 100px;
      gap: 10px;
      padding: 0 10px;

      &>a>img {
        height: 35px;
      }
    }
  }

  &>a>img {
    padding-left: 25px;
  }
}

//? -------- FOOTER -------- //
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 15px;
  margin-top: auto;
  background-color: $light-Black;
  color: $default-White;

  &>div.salon-infos {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;

    &>.map-infos {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-evenly;
      width: 80%;

      &>div.categories-links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        padding: 15px;

        &>.title {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          padding: 10px;
          border-bottom: 1px solid $Khaki;

          &>img {
            width: 50px;
          }

          &>h3 {
            font-family: $bonusFont;
            color: $default-White;
            font-size: 1.3rem;
          }
        }

        &>li {
          list-style: disc;

          &>a {
            color: $default-White;
            font-family: $extraLight;
            font-size: 0.875rem;

            &:hover {
              color: $Khaki;
            }
          }
        }
      }

      &>div.schedule {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 15px;

        &>.title {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          padding: 10px;
          border-bottom: 1px solid $Khaki;

          &>img {
            width: 50px;
          }

          &>h3 {
            font-family: $bonusFont;
            color: $default-White;
            font-size: 1.3rem;
          }
        }

        &>div {
          &>.schedule-days {
            font-family: $bonusFont;
            font-size: 0.875rem;
          }

          &>.schedule-hours {
            font-family: $bonusFont;
            font-size: 0.875rem;
            color: $secondary-WhiteChocolate;
          }
        }
      }
    }

    &>div.contact-socials {
      display: flex;
      width: 275px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;

      &>figure>.footer-logo {
        width: 100px;
      }

      &>figcaption {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        &>.catchphrase {
          font-family: $bonusFont;
          font-size: 0.625rem;
        }

        &>.footer-contact {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;

          &>figcaption>p {
            font-family: $lighterText;
            font-size: 0.75rem;
          }
        }
      }
    }
  }

  &>.copyrights {

    &>p {
      &>a {
        color: $default-White;
        font-size: 0.5rem;
        text-align: center;
        line-height: normal;

        &:hover {
          color: $Khaki;
        }
      }

      font-size: 0.5rem;
      text-align: center;
      line-height: normal;
    }
  }
}

//? -------- SUB HEADER -------- //
.page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 250px;
  background: url("../media/deco/massagewoman.svg") bottom left / contain no-repeat,
    url("../media/deco/flower-bg-flipped.svg") top right / auto no-repeat;
  background-color: $light-Black;

  &>h1 {
    color: $PaleSilver;
  }

  &>ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;

    &>li {
      color: $PaleSilver;

      &>a {
        color: $Khaki;

        &:hover {
          color: $Cinereous;
        }

        &.last-link {
          color: $PaleSilver;
          pointer-events: none;
          /* Disable link functionality for the last link */
        }
      }
    }
  }

  @media (max-width: 768px) {
    /* Adjust the background size and position for smaller screens */
    background-size: 150px;
  }
}

//~ ------------ HOMEPAGE ------------ //
.homepage-CTA {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background: url('../media/deco/textured-bg.webp') center center / cover no-repeat;

  .CTA-banner {
    position: relative;
    overflow: hidden;
    max-width: 615px;
    max-height: 680px;
    width: 60vw;
    height: 60vw;
    padding: 10px;
    padding-bottom: 0;
    border-radius: 360px 360px 0 0;
    background-color: $accent-BrownShadow;

    &>img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      opacity: 75%;
      border-radius: 360px 360px 0 0;
    }

    .banner-deco {
      position: absolute;
      top: 0;
      left: 0;
      width: auto;
      height: 50%;
    }
  }

  .cta-ims {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 850px;
    width: 100%;
    padding: 25px;
    text-align: center;

    .logo-cta {
      &>img {
        width: 200px;
      }

      &>figcaption {
        &>p {
          font-size: .7rem;
          font-family: $bonusFont;
          color: $accent-BrownShadow;
        }
      }
    }

    .adress-cta {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      padding: 15px;

      &>img {
        filter: invert(50%) sepia(12%) saturate(884%) hue-rotate(346deg) brightness(94%) contrast(88%);
      }

      &>figcaption {
        &>p {
          font-size: .8rem;
          font-family: $bonusFont;
          color: $accent-BrownShadow;
        }
      }
    }
  }
}

.homepage-soins {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 25px;
  padding: 25px 0;
  width: 100%;
  background-color: $primary-Alabaster;

  &>a {
    max-width: 250px;
    font-family: $bonusFont;
    color: $accent-BrownShadow;
    padding: 15px 30px;
    border: 1px solid $accent-BrownShadow;

    &:hover {
      background-color: $accent-BrownShadow;
      color: $primary-Alabaster;
    }
  }
}

@media screen and (max-width: 850px) {
  .homepage-CTA {
    .CTA-banner {
      width: 80vw;
      height: 80vw;
    }
  }
}

//~ ------------ ABOUT US ------------ //
//? -------- MAIN -------- //
.about-us-presentation {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  padding: 25px 0;
  border-bottom: 1px solid $Cinereous;

  &>figure {
    position: relative;
    width: 40vw;
    height: 40vw;
    max-width: 500px;
    max-height: 500px;
    padding: 15px;
    border-radius: 100%;
    background-color: $accent-BrownShadow;

    &>img {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      object-fit: cover;
    }

    &>figcaption {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      bottom: 0;
      left: 50%;
      transform: translate(-50%);
      width: fit-content;
      max-width: 150px;
      padding: 15px;
      border-radius: $radius-180;
      background-color: $accent-BrownShadow;

      &>a>.icons {
        width: 65px;
      }
    }
  }

  .presentation {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 25px;
    max-width: 740px;
    width: 100%;

    &>blockquote {
      position: relative;
      font-family: $titleFont;
      font-size: 2.5rem;
      line-height: 2rem;
      color: $accent-BrownShadow;

      &:before,
      &:after {
        position: absolute;
        color: $Cinereous;
        font-size: 8rem;
      }

      &:before {
        content: "“";
        left: -2rem;
        top: 0;
      }

      &:after {
        content: "”";
        right: -2rem;
        bottom: 0;
      }
    }

    &>.redirection-buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      align-self: stretch;
      padding: 15px;
      border-radius: 25px;
      background: url("../media/deco/flower-bg-deco.svg") top left / contain no-repeat,
        url("../media/deco/flower-bg-flipped.svg") top right / contain no-repeat;
      background-color: $primary-Alabaster;
    }
  }


}

//? -------- CONTACT FORM -------- //
.contact-form {
  text-align: center;
  width: 100%;
  background: url("../media/deco/textured-bg.webp") center center / cover no-repeat;

  &>.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
    padding: 25px;

    &>.contact-info {
      display: flex;
      flex-direction: column;
      max-width: 800px;
      width: 100%;
      gap: 25px;

      &>h2 {
        text-decoration: underline;
      }

      &>.info-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        text-align: left;

        &>figure {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
          padding: 10px;
          border-radius: 0 25px 25px 0;
          background-color: $secondary-WhiteChocolate;

          &>img {
            background-color: $Cinereous;
            padding: 10px;
            border-radius: $radius-15;
          }

          &>figcaption {
            &>p:first-child {
              color: $Cinereous;
            }
          }

          &:nth-child(2n) {
            background-color: $primary-Alabaster;
          }
        }
      }
    }

    &>.form-container {
      max-width: 650px;
      width: 100%;
      padding: 25px;
      border-radius: 0 25px 25px 0;
      background-color: $Khaki;

      &>form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 15px;

        &>input,
        textarea {
          border-radius: $radius-5;
          background-color: transparent;
          color: $primary-Alabaster;
          font-family: $extraLight;
          border-bottom: 1px solid $accent-BrownShadow;

          &::placeholder {
            color: $default-White;
            text-transform: uppercase;
            letter-spacing: 2.4px;
            font-size: 1rem;
          }
        }

        &>button {
          border: 1px solid $accent-BrownShadow;
          padding: 15px;
          border-radius: $radius-15;
          color: $accent-BrownShadow;

          &:hover {
            background-color: $accent-BrownShadow;
            border-color: $secondary-WhiteChocolate;
            color: $secondary-WhiteChocolate;
          }
        }
      }
    }
  }
}

//? -------- CONTACT MAP -------- //
.map-location {
  width: 100%;

  &>#map-aboutus {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}

@media screen and (max-width: 850px) {
  .about-us-presentation {
    &>figure {
      width: 100vw;
      height: 100vw;
      min-width: 100px;
      min-height: 100px;

      &>figcaption {
        width: 150px;
        height: 50px;
        padding: 10px;

        &>a>.icons {
          width: 35px;
        }
      }
    }

    .presentation {
      &>blockquote {
        width: 80%;
      }

      .redirection-buttons {
        height: 200px;
      }
    }
  }

  .eui-widget-title::before,
  .eui-widget-title::after,
  .es-widget-title::before,
  .es-widget-title::after {
    display: none !important;
  }

}

//~ ------------ CATEGORIES ------------ //
.category-cards {
  width: 95%;
  padding: 25px 0;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.category-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  max-width: 300px;
  min-height: 500px;
  border-radius: $radius-5;
  border: 1px solid $Cinereous;
  background-color: $default-White;

  .category-thumbnail {
    background: url("../media/deco/flower-bg-deco.svg") top / contain no-repeat;
    padding: 20px;
    width: 258px;

    &>img {
      width: 160px;
      height: 160px;
      border-radius: 100%;
      object-fit: cover;
      background-color: $accent-BrownShadow;
      padding: 5px;
    }

    &>figcaption>h3 {
      color: $Cinereous;
      text-decoration: underline;
    }
  }

  .card-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 15px;

    &>p {
      color: $light-Black;
    }
  }

  &:hover {
    transform: scale(1.01);
  }
}

//~ ------------ SERVICES & RDV ------------ //
.category-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;

  &>.category-details-aside {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100%;
    max-width: 350px;
    padding: 25px;
    background-color: $primary-Alabaster;

    &>.services-liste-container {
      display: flex;
      padding: 25px 15px;
      flex-direction: column;
      align-items: center;
      text-align: center;
      align-self: stretch;
      border-radius: $radius-5;

      &>.category-title {
        width: 100%;
        padding: 15px 0;
        border-radius: 5px 5px 0 0;
        background-color: $accent-BrownShadow;
        border-bottom: 1px solid $Khaki;

        &>h1 {
          color: $primary-Alabaster;
        }
      }

      &>.category-services {
        overflow-y: scroll;
        width: 100%;
        max-height: 300px;
        border-radius: 0 0 5px 5px;
        border: 1px solid $Khaki;
        border-top: none;
        scrollbar-color: $secondary-WhiteChocolate $Cinereous;
        scrollbar-width: thin;

        &>ul>li {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          padding: 25px 0;
          color: $accent-BrownShadow;
          border-bottom: 1px solid $Khaki;

          &::before {
            content: "";
            display: inline-block;
            opacity: 0;
            width: 16px;
            height: 16px;
            margin-right: 5px;
            background-image: url("../media/icons/deco/leaf-solid.svg");
            background-size: cover;
            background-repeat: no-repeat;
            transition: opacity 0.3s;
          }

          &:hover,
          &.active {
            background-color: $Cinereous;
            border-bottom: 1px solid $secondary-WhiteChocolate;
            color: $secondary-WhiteChocolate;

            &::before {
              opacity: 1;
            }
          }
        }

        &::-webkit-scrollbar {
          width: 12px;
        }

        &::-webkit-scrollbar-track {
          background: $Cinereous;
          border-radius: $radius-5;
        }

        &::-webkit-scrollbar-thumb {
          background: $secondary-WhiteChocolate;
          border-radius: $radius-5;

          &:hover {
            background: darken($secondary-WhiteChocolate, 10%);
          }
        }
      }
    }
  }

  &>.service-details {
    flex-grow: 1;
    overflow-y: scroll;
    scrollbar-color: $secondary-WhiteChocolate $Cinereous;
    scrollbar-width: thin;
    width: 60%;
    height: 100%;
    max-height: 685px;
    padding: 25px;

    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-track {
      background: $Cinereous;
      border-radius: $radius-5;
    }

    &::-webkit-scrollbar-thumb {
      background: $secondary-WhiteChocolate;
      border-radius: $radius-5;

      &:hover {
        background: darken($secondary-WhiteChocolate, 10%);
      }
    }

    &>.service-detail-content {
      &>.service-thumbnail {
        &>img {
          height: 350px;
          width: 100%;
          border-radius: $radius-5;
          object-fit: cover;
        }
      }

      &>.service-info {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 15px;
        height: 100%;
        min-height: 200px;

        &>.service-name-price {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 15px;
          border-radius: $radius-5;
          background-color: $Cinereous;
          color: $primary-Alabaster;

          &>h2 {
            color: $primary-Alabaster;
            font-weight: 400;
            font-size: 2.1rem;
          }

          &>p {
            font-weight: 600;
            font-size: 2.1rem;
          }
        }

        p {
          font-size: 1.125rem;
        }

        &>.btn {
          position: absolute;
          bottom: 0;
        }

        @media screen and (max-width: 850px) {
          .service-name-price {
            &>h2 {
              font-weight: 400;
              font-size: 1.5rem;
            }

            &>p {
              font-weight: 600;
              font-size: 1.5rem;
            }
          }

          &>p {
            font-size: .9rem;
          }
        }
      }
    }
  }
}


//~ ------------ TARIFS & BOOKING ------------ //
.tarifs {
  width: 100%;

  .tarif-category {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 25px;

    &:nth-child(odd) {
      background-color: $primary-Alabaster;
    }

    &:nth-child(even) {
      background-color: $secondary-WhiteChocolate;
    }

    .category-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 25px;
      border-bottom: 1px dashed $PaleSilver;
      cursor: pointer;

      .category-title {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;

        &>img {
          filter: invert(80%) sepia(6%) saturate(372%) hue-rotate(334deg) brightness(96%) contrast(91%);
        }
      }
    }

    .services-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 15px;
    }

    .service-card {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      gap: 10px;
      padding: 10px;
      width: 500px;
      min-height: 100px;
      border: 1px solid $Khaki;
      border-radius: 5px;
      background: url("../media/deco/flower-bg-flipped.svg") top right / contain no-repeat,
        url("../media/deco/textured-bg.webp") center center / cover no-repeat;

      .service-details {
        max-width: 150px;
        color: $Cinereous;

        &>h4 {
          color: $accent-BrownShadow;
        }

        &>p {
          font-size: 0.75rem;
          line-height: normal;
        }
      }

      &>span {
        font-family: $bolderText;
      }

      @media screen and (max-width: 580px) {
        .icon-desktop {
          display: none;
        }
      }
    }
  }
}

//~ ------------ CONNECTION ------------ //
//? -------- LOGIN -------- //
.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 0 5px;

  &>h1 {
    color: $Cinereous;
    padding: 15px 5px;
  }

  &>.form-connexion {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 650px;
    width: 90%;
    padding: 50px;
    gap: 10px;
    border: 1px solid $Cinereous;
    border-radius: $radius-5;

    &>input {
      width: 90%;
    }

    &>.remember-check {
      display: flex;
      gap: 5px;
      align-items: center;

      &>label {
        font-size: 0.75rem;
        font-family: $lighterText;
      }
    }

    &>.error-login {
      color: $error-Red;
    }

    &>.button-links {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;

      button {
        background-color: $Khaki;
        color: $primary-Alabaster;
        border-radius: $radius-5;
        padding: 15px 25px;

        &:hover {
          background-color: $accent-BrownShadow;
          color: $secondary-WhiteChocolate;
        }
      }

      &>.login-troubleshooting {
        display: flex;
        flex-direction: column;

        &>a {
          font-size: 0.75rem;
          color: $default-grey;

          &:hover {
            color: $accent-BrownShadow;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .form-login {
    &>.form-connexion {
      padding: 50px 0;
      width: 90%;
    }
  }
}

//? -------- REGISTER -------- //
.register {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: 50%;

  &>h1 {
    color: $Cinereous;
  }

  &>.form-registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 650px;
    width: 100%;
    padding: 50px;
    gap: 50px;
    border: 1px solid $Cinereous;
    border-radius: $radius-5;

    .name-register,
    .user-info {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;
      margin-right: 10px;
    }

    input {
      width: 100%;
    }

    div {
      margin: 10px 0;
    }

    button {
      background-color: $Khaki;
      color: $primary-Alabaster;
      border-radius: $radius-5;
      padding: 15px 25px;

      &:hover {
        background-color: $accent-BrownShadow;
        color: $secondary-WhiteChocolate;
      }
    }
  }
}

//~ ------------ ADMIN DASHBOARD ------------ //
//~ ------------ USER DASHBOARD ------------ //

.dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 80vh;
  background-color: $secondary-WhiteChocolate;

  .welcome-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    gap: 50px;
    min-height: 170px;
    height: 100%;

    &>h1 {
      font-family: $bonusFont;
      color: $light-Black;

      &>span {
        color: $accent-BrownShadow;
      }
    }

    .user-menu {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;

      .menu a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: $primary-Alabaster;
        color: $light-Black;
        border-radius: 5rem;
        padding: 0.5rem;
        padding-right: 2rem;

        img {
          padding: 0.5rem;
          margin: 0 0.5rem 0 0;
          width: 24px;
          height: 24px;
          background-color: $default-White;
          border-radius: 5rem;
        }

        &:hover {
          background: #978178db;
          color: $primary-Alabaster;
          transition: all 0.5s ease-out;
        }
      }

      .active a {
        background-color: $accent-BrownShadow;
        color: $primary-Alabaster;
        min-width: 160px;
        border-radius: 5rem;
      }
    }
  }

  //? -------- APPOINTMENTS -------- //
  #my-appointments {
    display: flex;
    flex-direction: column;
    border-radius: $radius-15;
  }

  .upcoming-app,
  .past-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    background-color: $primary-Alabaster;
    padding: 15px;
    margin: 25px;
    border-radius: $radius-15;
  }

  .app-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
  }

  .appointment {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 300px;
    width: 100%;
    padding: 5px;
    border-radius: $radius-5;
    border: 1px solid $Khaki;

    &>figure {
      display: flex;
      flex-direction: row;
      gap: 15px;
      align-items: center;
      border-radius: $radius-5;
      padding: 5px;

      &>img {
        background-color: $accent-BrownShadow;
        padding: 5px;
        border-radius: $radius-180;
      }

      &:nth-child(1) {
        background-color: $PaleSilver;
      }

      &:nth-child(2) {
        background-color: $secondary-WhiteChocolate;
      }

      &>figcaption {
        &>p {
          &>span {
            font-family: $textFont;
          }
        }
      }
    }
  }

  //? -------- SETTINGS -------- //
  #settings {
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
    .form-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: 15px;
      padding: 50px 0;
      max-width: 800px;
      width: 100%;
      border-radius: $radius-15;
      background-color: $primary-Alabaster;

      .user-names {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 10px;
      }

      .form-input {
        display: flex;
        gap: 10px;
        padding: 5px;
        border-radius: $radius-5;
        border: 1px solid $accent-BrownShadow;
        background-color: transparent;
        &:hover{
          background-color: #eee3d798;
        }
        &>img{
          filter: invert(51%) sepia(35%) saturate(320%) hue-rotate(346deg) brightness(88%) contrast(87%);
        }
        &>figcaption>input{
          background-color: transparent;
          color: $default-Black;
        }
      }

      .long-input {
        max-width: 300px;
        width: 80%;
      }

      &>.settings-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;

        &>button {
          padding: 15px;
          border-radius: $radius-5;

          &:hover {
            color: $primary-Alabaster;
          }
        }

        .update-btn {
          border: 1px solid $success-Green;
          color: $success-Green;

          &:hover {
            background-color: $success-Green;
          }
        }

        .delete-btn {
          border: 1px solid $error-Red;
          color: $error-Red;

          &:hover {
            background-color: $error-Red;
          }
        }
      }
    }
  }
}

//~ ------------ ERROR 404 ------------ //
.error404 {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  gap: 25px;

  h1 {
    color: $accent-BrownShadow;
    font-size: 15rem;

    &>span {
      color: $PaleSilver;
    }
  }

  h2 {
    font-family: $textFont;
    font-size: 1.125rem;
  }

  p {
    font-size: 1rem;
  }

  button {
    background-color: $Khaki;
    color: $primary-Alabaster;
    border-radius: $radius-5;
    padding: 15px 25px;

    &:hover {
      background-color: $accent-BrownShadow;
      color: $secondary-WhiteChocolate;
    }
  }
}