<div class="page-header">
    <h2>{{ page_name }}</h2>
    <ul>
    {% for label, link in breadcrumbs %}
        <li><a href="{{ link }}">{{ label }}</a></li>
    {% endfor %}
</ul>

    {# <a>{{ breadcrumbs }}</a> #}
</div>