<div class="promotion-box">
    <div class="content-border">
        <span>-20%</span>
        <p>Pour vos réservations en ligne !</p>
        <div class="animated-btn btn-two">
            <a href="{{path('app_our_prices')}}">
                <span>Réservez maintenant</span>
                <img src="{{asset('asset/media/icons/deco/lotus.svg')}}" alt="">
            </a>
        </div>
    </div>
</div>